[submodule "reveal.js"]
	path = slides/reveal.js
	url = https://github.com/hakimel/reveal.js.git
[submodule "assets/css-slides"]
	path = assets/css-slides
	url = https://gist.github.com/44eae8bf1ecf6d3ab9e268e650e276d8.git
[submodule "_spec"]
	path = _spec
	url = https://gist.github.com/a452c6915b27358b8f6665ae733c682a.git
[submodule "_sass"]
	path = _sass
	url = https://github.com/p3palazzo/tufte-mmistakes
