<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<title>Bibliografia</title>
</head>
<body>
<div class="csl-bib-body" style="line-height: 1.35; margin-left: 2em; text-indent:-2em;">
  <div class="csl-entry">Durand, Jean-Nicolas-Louis. <i>Recueil et parallèle des édifices de tout genre anciens et modernes</i>. Paris: Gillé Fils, 1799.</div>
  <span class="Z3988" title="url_ver=Z39.88-2004&amp;ctx_ver=Z39.88-2004&amp;rfr_id=info%3Asid%2Fzotero.org%3A2&amp;rft_val_fmt=info%3Aofi%2Ffmt%3Akev%3Amtx%3Abook&amp;rft.genre=book&amp;rft.btitle=Recueil%20et%20parall%C3%A8le%20des%20%C3%A9difices%20de%20tout%20genre%20anciens%20et%20modernes&amp;rft.place=Paris&amp;rft.publisher=Gill%C3%A9%20Fils&amp;rft.aufirst=Jean-Nicolas-Louis&amp;rft.aulast=Durand&amp;rft.au=Jean-Nicolas-Louis%20Durand&amp;rft.date=1799&amp;rft.language=French"></span>
  <div class="csl-entry">Vitrúvio. <i>Tratado de arquitectura</i>. Traduzido por M. Justino Maciel. Lisboa: IST Press, 2006.</div>
  <span class="Z3988" title="url_ver=Z39.88-2004&amp;ctx_ver=Z39.88-2004&amp;rfr_id=info%3Asid%2Fzotero.org%3A2&amp;rft_val_fmt=info%3Aofi%2Ffmt%3Akev%3Amtx%3Abook&amp;rft.genre=book&amp;rft.btitle=Tratado%20de%20arquitectura&amp;rft.place=Lisboa&amp;rft.publisher=IST%20Press&amp;rft.au=undefined&amp;rft.au=M.%20Justino%20Maciel&amp;rft.date=2006&amp;rft.language=Portuguese"></span>
  <div class="csl-entry">———. <i>Tratado de arquitetura</i>. Traduzido por M. Justino Maciel. São Paulo: Martins Fontes, 2007.</div>
  <span class="Z3988" title="url_ver=Z39.88-2004&amp;ctx_ver=Z39.88-2004&amp;rfr_id=info%3Asid%2Fzotero.org%3A2&amp;rft_id=urn%3Aisbn%3A978-85-7707-003-9&amp;rft_val_fmt=info%3Aofi%2Ffmt%3Akev%3Amtx%3Abook&amp;rft.genre=book&amp;rft.btitle=Tratado%20de%20arquitetura&amp;rft.place=S%C3%A3o%20Paulo&amp;rft.publisher=Martins%20Fontes&amp;rft.au=undefined&amp;rft.au=M.%20Justino%20Maciel&amp;rft.date=2007&amp;rft.isbn=978-85-7707-003-9&amp;rft.language=Portuguese"></span>
</div></body>
</html>
