<!DOCTYPE html>
<html>
<head>
  {%- include head.html %}
</head>
<body>
  {%- include before.html %}
  <article>
    {%- include header.html %}
    {{ content }}
    {% if page.layout != 'index' -%}
    <section>
      <p class="signoff">
        <a href="{{ site.baseurl }}/" title="home">
          <i title="Home" class="fas fa-home fa-2x"></i>
        </a>
        <a href="#" title="top">
          <i title="Top" class="fas fa-arrow-up fa-2x"></i>
        </a>
      </p>
    </section>
    {%- endif %}
  </article>

  {%- include after.html %}
  {%- include math.html %}
</body>
</html>
