{% if page.title -%}
  <header>
    <h1 class="title">{{ page.title }}</h1>
    {% if page.subtitle -%}
      <p class="subtitle">{{ page.subtitle }}</p>
    {%- endif %}
    {%- if page.author %}
    <p class="author"><span itemprop="author" itemscope itemtype="http://schema.org/Person">
      <span class="p-author h-card" itemprop="name">
        {{ page.author }}
      </span></span>
    </p>
    {% endif -%}
      <div class="epigraph">
        <blockquote>
          <p>
          {%- if page.abstract %}
            {{ page.abstract }}
          {% endif -%}
          {%- if page.layout == 'index' -%}
            {{ site.description }}
          {% endif -%}
          </p>
        </blockquote>
      </div>
  </header>
{% endif %}
