{% if page.title -%}
  <header>
    <h1 class="title">{{ page.title }}</h1>
    {% if page.subtitle -%}
      <p class="subtitle">{{ page.subtitle }}</p>
    {%- endif %}
    <p class="byline"><span itemprop="author" itemscope itemtype="http://schema.org/Person">
      <span class="p-author h-card" itemprop="name">
        {%- if page.author %}{{ page.author }}{% else %}{{ site.author }}{% endif -%}
      </span></span>
    </p>
      <div class="epigraph">
        <blockquote>
        {%- if page.abstract %}
          {{ page.abstract }}
        {% endif -%}
        {%- if page.layout == 'index' -%}
          {{ site.description }}
        {% endif -%}
        </blockquote>
      </div>
  </header>
{% endif %}
