
<section id="programa" class="level2">
  <ol type="I">
  {%- assign topicos = site.aula | sort: "date" -%}
  {% for aula in topicos -%}
    {%- assign anterior = forloop.index0 | minus: 1 -%}
    {%- if forloop.first or aula.subtitle != topicos[anterior].subtitle -%}
      <hr />
      <h2>{{ aula.subtitle }}</h2>
    {%- endif %}
    <li>
      <dl>
        <dt>
          <a href="{{ aula.url | prepend: site.baseurl }}">{{ aula.title }}</a>
        </dt>
        <dd>
          <div class="align-right">
            {{ aula.date | date: "%d/%m" }}<br />
          </div>
          <p>
            {%- for topic in aula.toc -%}
              {{ topic }} {% unless forloop.last %} &mdash; {% endunless %}
            {%- endfor -%}
          </p>
        </dd>
      </dl>
    </li>
    {%- assign prox = forloop.index0 | plus: 1 -%}
    {% if forloop.last or aula.subtitle != topicos[prox].subtitle -%}
      {%- for trab in site.trabalho -%}
        {%- if trab.subtitle == aula.subtitle -%}
        <dl>
          <dt>
            <a href="{{ trab.url | prepend: site.baseurl }}">{{ trab.item }}</a>
          </dt>
          <dd>
            <div class="align-right">
               Entrega <br /> {{ trab.date | date: "%d/%m" }}<br />
            </div>
            <p>
              {{ trab.title }}
            </p>
          </dd>
        </dl>
        {%- endif -%}
      {%- endfor -%}
    {%- endif %}
  {%- endfor %}
  </ol>
</section>
