<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<title>Bibliography</title>
</head>
<body>
<div class="csl-bib-body" style="line-height: 1.35; margin-left: 2em; text-indent:-2em;">
  <div class="csl-entry">Fazio, Michael, Marian Moffett, e Lawrence Wodehouse. <i>A história da arquitetura mundial</i>. Traduzido por Alexandre Salvaterra. Porto Alegre: Bookman, 2011.</div>
  <span class="Z3988" title="url_ver=Z39.88-2004&amp;ctx_ver=Z39.88-2004&amp;rfr_id=info%3Asid%2Fzotero.org%3A2&amp;rft_id=urn%3Aisbn%3A978-85-8055-038-2&amp;rft_val_fmt=info%3Aofi%2Ffmt%3Akev%3Amtx%3Abook&amp;rft.genre=book&amp;rft.btitle=A%20hist%C3%B3ria%20da%20arquitetura%20mundial&amp;rft.place=Porto%20Alegre&amp;rft.publisher=Bookman&amp;rft.aufirst=Michael&amp;rft.aulast=Fazio&amp;rft.au=Michael%20Fazio&amp;rft.au=Marian%20Moffett&amp;rft.au=Lawrence%20Wodehouse&amp;rft.au=Alexandre%20Salvaterra&amp;rft.date=2011&amp;rft.isbn=978-85-8055-038-2&amp;rft.language=pt-BR"></span>
</div></body>
</html>
