@charset "utf-8";

* {
  font-variant: proportional-nums oldstyle-nums;
}

p.subtitle, h1, h2, h3 { font-variant: lining-nums; }
.newthought { font-variant: all-small-caps !important; }

.subfigures > p:last-of-type,
caption,
figcaption,
sup,
.marginnote,
.sidenote {
  font-weight: 500;
  margin-bottom: 0.3rem;
}

dd {
  font-size: $type-size-5;
  margin-left: 0;
}

dt,
h5,
h6,
blockquote > footer,
sup,
.sidenote-number,
.sidenote-number::after,
.sidenote::before {
  font-variant: oldstyle-nums;
  font-weight: 500;
}

iframe,
img,
video {
  border: 0.5px solid $text-color;
  &.line,
  &.nobg {
    border: 0;
  }
}

ul {
  list-style-type: none;
  li {
    text-indent: -2rem;
    &::before {
      content: "— ";
    }
  }
}
li.masthead__menu-item {
  background: none;
  border: 0;
  font-size: $type-size-6;
  text-indent: 0;
  &::before {
    content: "";
  }
}

hr {
  border: 0;
  clear: both;
  width: 100%;
  padding: 1.2rem 0;
  content: "* * *";
}

// Outset dates in résumé
.cv dt {
  font-variant: tabular-nums oldstyle-nums all-small-caps;
  font-weight: 400;
  margin-left: -8rem;
}

@media (min-width: 761px) {
  ol,
  ul {
    padding-left: 0;
  }
}

#main-nav,
#lang-select {
  a:link {
    background: none;
    text-shadow: none;
    &::after {
      content: "  ";
    }
  }
}

#lang-select {
  float: right;
  font-weight: 500;
  margin-right: 45%;
  margin-top: 0.5rem;
  margin-top: 1rem;
}

.en:lang(en), .fr:lang(fr), .pt:lang(pt){
    color: transparentize($text-color, 0.5);
  }

// Minimal-Mistakes
.site-title {
  a,
  a > .site-subtitle {
    background: none;
  }
  font-variant: lining-nums;
  font-weight: 400;
}

.site-subtitle {
  font-size: $h-size-4;
  font-style: italic;
}

@media (max-width: $medium) {
  dt,
  h5,
  h6 {
    float: none;
  }
}

@media (prefers-color-scheme: dark) {
  body {
    .line,
    .nobg {
      border: 0;
      filter: none;
      -webkit-filter: none;
    }
  }
  #main-nav a:link,
  #lang-select a:link {
      background: none;
      text-shadow: none;
  }
  .en:lang(en), .fr:lang(fr), .pt:lang(pt){
    color: transparentize($background-color, 0.5);
  }
}
// vim: set shiftwidth=2 foldmethod=indent
