@charset "UTF-8";
/* Import ET Book styles adapted from https://github.com/edwardtufte/et-book/blob/gh-pages/et-book.css */
/* Tufte CSS styles */
@import url("https://use.typekit.net/hny1sfi.css");
html { font-size: 15px; }

body { width: 87.5%; margin-left: auto; margin-right: auto; padding-left: 12.5%; font-family: et-book, Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif; background-color: #fffff8; color: #111; max-width: 1400px; counter-reset: sidenote-counter; }

h1 { font-weight: 400; margin-top: 4rem; margin-bottom: 1.5rem; font-size: 3.2rem; line-height: 1; }

h2 { font-style: italic; font-weight: 400; margin-top: 2.1rem; margin-bottom: 1.4rem; font-size: 2.2rem; line-height: 1; }

h3 { font-style: italic; font-weight: 400; font-size: 1.7rem; margin-top: 2rem; margin-bottom: 1.4rem; line-height: 1; }

hr { display: block; height: 1px; width: 55%; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }

p.subtitle, .subtitle.csl-entry { font-style: italic; margin-top: 1rem; margin-bottom: 1rem; font-size: 1.8rem; display: block; line-height: 1; }

.numeral { font-family: et-book-roman-old-style; }

.danger { color: red; }

article { position: relative; padding: 5rem 0rem; }

section, .incremental, div.csl-bib-body, details, div.notes, dl { padding-top: 1rem; padding-bottom: 1rem; }

p, .csl-entry, ol, ul { font-size: 1.4rem; line-height: 2rem; }

p, .csl-entry { margin-top: 1.4rem; margin-bottom: 1.4rem; padding-right: 0; vertical-align: baseline; }

/* Chapter Epigraphs */
div.epigraph { margin: 5em 0; }

div.epigraph > blockquote { margin-top: 3em; margin-bottom: 3em; }

div.epigraph > blockquote, div.epigraph > blockquote > p, div.epigraph > blockquote > .csl-entry { font-style: italic; }

div.epigraph > blockquote > footer { font-style: normal; }

div.epigraph > blockquote > footer > cite { font-style: italic; }

/* end chapter epigraphs styles */
blockquote { font-size: 1.4rem; }

blockquote p, blockquote .csl-entry { width: 55%; margin-right: 40px; }

blockquote footer { width: 55%; font-size: 1.1rem; text-align: right; }

section > p, .incremental > p, section > .csl-entry, .incremental > .csl-entry, div.csl-bib-body > p, div.csl-bib-body > .csl-entry, details > p, details > .csl-entry, div.notes > p, div.notes > .csl-entry, dl > p, dl > .csl-entry, section > footer, .incremental > footer, div.csl-bib-body > footer, details > footer, div.notes > footer, dl > footer, section > table, .incremental > table, div.csl-bib-body > table, details > table, div.notes > table, dl > table { width: 55%; }

/* 50 + 5 == 55, to be the same width as paragraph */
section > ol, .incremental > ol, div.csl-bib-body > ol, details > ol, div.notes > ol, dl > ol, section > ul, .incremental > ul, div.csl-bib-body > ul, details > ul, div.notes > ul, dl > ul { width: 50%; -webkit-padding-start: 5%; }

li:not(:first-child) { margin-top: 0.25rem; }

figure { padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; max-width: 55%; -webkit-margin-start: 0; -webkit-margin-end: 0; margin: 0 0 3em 0; }

figcaption, .subfigures p, .subfigures .csl-entry { float: right; clear: right; margin-top: 0; margin-bottom: 0; font-size: 1.1rem; line-height: 1.6; vertical-align: baseline; position: relative; max-width: 40%; }

figure.fullwidth figcaption, figure.fullwidth .subfigures p, .subfigures figure.fullwidth p, figure.fullwidth .subfigures .csl-entry, .subfigures figure.fullwidth .csl-entry { margin-right: 24%; }

/* Links: replicate underline that clears descenders */
a:link, a:visited { color: inherit; }

a:link { text-decoration: none; background: -webkit-linear-gradient(#fffff8, #fffff8), -webkit-linear-gradient(#fffff8, #fffff8), -webkit-linear-gradient(#333, #333); background: linear-gradient(#fffff8, #fffff8), linear-gradient(#fffff8, #fffff8), linear-gradient(#333, #333); -webkit-background-size: 0.05em 1px, 0.05em 1px, 1px 1px; -moz-background-size: 0.05em 1px, 0.05em 1px, 1px 1px; background-size: 0.05em 1px, 0.05em 1px, 1px 1px; background-repeat: no-repeat, no-repeat, repeat-x; text-shadow: 0.03em 0 #fffff8, -0.03em 0 #fffff8, 0 0.03em #fffff8, 0 -0.03em #fffff8, 0.06em 0 #fffff8, -0.06em 0 #fffff8, 0.09em 0 #fffff8, -0.09em 0 #fffff8, 0.12em 0 #fffff8, -0.12em 0 #fffff8, 0.15em 0 #fffff8, -0.15em 0 #fffff8; background-position: 0% 93%, 100% 93%, 0% 93%; }

@media screen and (-webkit-min-device-pixel-ratio: 0) { a:link { background-position-y: 87%, 87%, 87%; } }

a:link::selection { text-shadow: 0.03em 0 #b4d5fe, -0.03em 0 #b4d5fe, 0 0.03em #b4d5fe, 0 -0.03em #b4d5fe, 0.06em 0 #b4d5fe, -0.06em 0 #b4d5fe, 0.09em 0 #b4d5fe, -0.09em 0 #b4d5fe, 0.12em 0 #b4d5fe, -0.12em 0 #b4d5fe, 0.15em 0 #b4d5fe, -0.15em 0 #b4d5fe; background: #b4d5fe; }

a:link::-moz-selection { text-shadow: 0.03em 0 #b4d5fe, -0.03em 0 #b4d5fe, 0 0.03em #b4d5fe, 0 -0.03em #b4d5fe, 0.06em 0 #b4d5fe, -0.06em 0 #b4d5fe, 0.09em 0 #b4d5fe, -0.09em 0 #b4d5fe, 0.12em 0 #b4d5fe, -0.12em 0 #b4d5fe, 0.15em 0 #b4d5fe, -0.15em 0 #b4d5fe; background: #b4d5fe; }

/* Sidenotes, margin notes, figures, captions */
img { max-width: 100%; }

.sidenote, .marginnote, figcaption, .subfigures p, .subfigures .csl-entry { float: right; clear: right; margin-right: -60%; width: 50%; margin-top: 0; margin-bottom: 0; font-size: 1.1rem; line-height: 1.3; vertical-align: baseline; position: relative; }

.sidenote-number { counter-increment: sidenote-counter; }

.sidenote-number:after, .sidenote:before { font-family: et-book-roman-old-style; position: relative; vertical-align: baseline; }

.sidenote-number:after { content: counter(sidenote-counter); font-size: 1rem; top: -0.5rem; left: 0.1rem; }

.sidenote:before { content: counter(sidenote-counter) " "; font-size: 1rem; top: -0.5rem; }

blockquote .sidenote, blockquote .marginnote, blockquote figcaption, blockquote .subfigures p, .subfigures blockquote p, blockquote .subfigures .csl-entry, .subfigures blockquote .csl-entry { margin-right: -82%; min-width: 59%; text-align: left; }

div.fullwidth, table.fullwidth { width: 100%; }

div.table-wrapper { overflow-x: auto; font-family: "Trebuchet MS", "Gill Sans", "Gill Sans MT", sans-serif; }

.sans { font-family: "Gill Sans", "Gill Sans MT", Calibri, sans-serif; letter-spacing: .03em; }

code { font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace; font-size: 1.0rem; line-height: 1.42; }

.sans > code { font-size: 1.2rem; }

h1 > code, h2 > code, h3 > code { font-size: 0.80em; }

.marginnote > code, figcaption > code, .subfigures p > code, .subfigures .csl-entry > code, .sidenote > code { font-size: 1rem; }

pre.code { font-size: 0.9rem; width: 52.5%; margin-left: 2.5%; overflow-x: auto; }

pre.code.fullwidth { width: 90%; }

.fullwidth { max-width: 90%; clear: both; }

span.newthought { font-variant: small-caps; font-size: 1.2em; }

input.margin-toggle { display: none; }

label.sidenote-number { display: inline; }

label.margin-toggle:not(.sidenote-number) { display: none; }

.iframe-wrapper { position: relative; padding-bottom: 56.25%; /* 16:9 */ padding-top: 25px; height: 0; }

.iframe-wrapper iframe { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }

@media (max-width: 760px) { body { width: 84%; padding-left: 8%; padding-right: 8%; } hr, section > p, .incremental > p, section > .csl-entry, .incremental > .csl-entry, div.csl-bib-body > p, div.csl-bib-body > .csl-entry, details > p, details > .csl-entry, div.notes > p, div.notes > .csl-entry, dl > p, dl > .csl-entry, section > footer, .incremental > footer, div.csl-bib-body > footer, details > footer, div.notes > footer, dl > footer, section > table, .incremental > table, div.csl-bib-body > table, details > table, div.notes > table, dl > table { width: 100%; } pre.code { width: 97%; } section > ol, .incremental > ol, div.csl-bib-body > ol, details > ol, div.notes > ol, dl > ol { width: 90%; } section > ul, .incremental > ul, div.csl-bib-body > ul, details > ul, div.notes > ul, dl > ul { width: 90%; } figure { max-width: 90%; } figcaption, .subfigures p, .subfigures .csl-entry, figure.fullwidth figcaption { margin-right: 0%; max-width: none; } blockquote { margin-left: 1.5em; margin-right: 0em; } blockquote p, blockquote .csl-entry, blockquote footer { width: 100%; } label.margin-toggle:not(.sidenote-number) { display: inline; } .sidenote, .marginnote, figcaption, .subfigures p, .subfigures .csl-entry { display: none; } .margin-toggle:checked + .sidenote, .margin-toggle:checked + .marginnote, .margin-toggle:checked + figcaption, .subfigures .margin-toggle:checked + p, .subfigures .margin-toggle:checked + .csl-entry { display: block; float: left; left: 1rem; clear: both; width: 95%; margin: 1rem 2.5%; vertical-align: baseline; position: relative; } label { cursor: pointer; } div.table-wrapper, table { width: 85%; } img { width: 100%; } }

/* The default x-height for code is slightly too large in side notes */
.marginnote code, figcaption code, .subfigures p code, .subfigures .csl-entry code, .sidenote code { font-size: 0.9rem; }

/* ... and slightly to small in body text. */
code { font-size: 1.1rem; }

/* Make "Home" link small */
p.signoff, .signoff.csl-entry { font-size: 1.2rem; }

body { max-width: 1150px; }

/** Makes it so that top-level <p> don't need to be wrapped in <section> */
article > p, article > .csl-entry, article > footer, article > table { width: 55%; }

/* 50 + 5 == 55, to be the same width as paragraph */
article > ol, article > ul { width: 50%; -webkit-padding-start: 5%; }

@media (max-width: 760px) { article > p, article > .csl-entry, article > footer, article > table { width: 100%; } article > ol, article > ul { width: 90%; } }

/* Enable hyphens on supported platforms */
article { -webkit-hyphens: auto; -ms-hyphens: auto; hyphens: auto; }

/* Sidenotes end up with a bunch of hyphens because they're so small */
.sidenote, .marginnote, figcaption, .subfigures p, .subfigures .csl-entry { hyphens: none; }

/* For smart quotes */
q { quotes: "“" "”" "‘" "’"; }

/* Override section behavior. We only want the top-level <section> to have padding. This makes it easier to work with --section-divs. */
section, .incremental, div.csl-bib-body, details, div.notes, dl { padding-top: initial; padding-bottom: initial; }

article > section, article > .incremental, article > div.csl-bib-body, article > details, article > div.notes, article > dl { padding-top: 1rem; padding-bottom: 1rem; }

/* Make byline (date and/or author) small */
p.byline, .byline.csl-entry { font-size: 1.2rem; }

/* Simulate Pandoc's table output styles */
table { border-top: 2px solid black; border-bottom: 2px solid black; }

th { border-bottom: 1px solid black; }

td, th { font-size: 1.4rem; padding: 10px; text-align: left; }

/* Allow tables to be full width if they're wrapped in a figure.fullwidth (Easier to insert from Pandoc than manually adding table) */
figure.fullwidth table { width: 90%; }

@media (max-width: 760px) { figure.fullwidth table { width: 100%; } }

/* Code blocks Code blocks with a language look like div.sourceCode > pre.sourceCode Otherwise, it's just a pre (without .sourceCode) */
div.sourceCode, pre:not(.sourceCode) { padding: 1.4rem; margin: -0.7rem -1.4rem; width: 55%; font-size: 0.9rem; overflow-x: auto; }

div.sourceCode code, pre:not(.sourceCode) code { font-size: 0.9rem; }

.fullwidth div.sourceCode, .fullwidth pre:not(.sourceCode) { width: 100%; }

@media (max-width: 760px) { div.sourceCode, pre:not(.sourceCode) { width: 100%; } }

div.sourceCode, pre:not(.sourceCode) { background: #FDF6E3; }

pre code { color: #657B83; }

code span.kw { color: #859900; font-weight: bold; font-style: normal; }

/* Keyword */
code span.dt { color: #B58900; font-weight: normal; font-style: normal; }

/* DataType */
code span.dv { color: #2AA198; font-weight: normal; font-style: normal; }

/* DecVal */
code span.bn { color: #2AA198; font-weight: normal; font-style: normal; }

/* BaseN */
code span.fl { color: #2AA198; font-weight: normal; font-style: normal; }

/* Float */
code span.ch { color: #2AA198; font-weight: normal; font-style: normal; }

/* Char */
code span.st { color: #2AA198; font-weight: normal; font-style: normal; }

/* String */
code span.co { color: #93A1A1; font-weight: normal; font-style: italic; }

/* Comment */
code span.ot { color: #268BD2; font-weight: normal; font-style: normal; }

/* Other */
code span.al { color: #DC322F; font-weight: bold; font-style: normal; }

/* Alert */
code span.fu { color: #268BD2; font-weight: normal; font-style: normal; }

/* Function */
code span.er { color: #DC322F; font-weight: bold; font-style: normal; }

/* Error */
code span.wa { color: #CB4B16; font-weight: bold; font-style: italic; }

/* Warning */
code span.cn { color: #2AA198; font-weight: normal; font-style: normal; }

/* Constant */
code span.sc { color: #DC322F; font-weight: normal; font-style: normal; }

/* SpecialChar */
code span.vs { color: #657B83; font-weight: normal; font-style: normal; }

/* VerbatimString */
code span.ss { color: #DC322F; font-weight: normal; font-style: normal; }

/* SpecialString */
code span.im { color: #657B83; font-weight: normal; font-style: normal; }

/* Import */
code span.va { color: #268BD2; font-weight: normal; font-style: normal; }

/* Variable */
code span.cf { color: #859900; font-weight: bold; font-style: normal; }

/* ControlFlow */
code span.op { color: #859900; font-weight: bold; font-style: normal; }

/* Operator */
code span.bu { color: #657B83; font-weight: normal; font-style: normal; }

/* BuiltIn */
code span.ex { color: #657B83; font-weight: normal; font-style: normal; }

/* Extension */
code span.pp { color: #CB4B16; font-weight: normal; font-style: normal; }

/* Preprocessor */
code span.at { color: #657B83; font-weight: normal; font-style: normal; }

/* Attribute */
code span.do { color: #93A1A1; font-weight: normal; font-style: italic; }

/* Documentation */
code span.an { color: #93A1A1; font-weight: bold; font-style: italic; }

/* Annotation */
code span.cv { color: #93A1A1; font-weight: bold; font-style: italic; }

/* CommentVar */
code span.in { color: #93A1A1; font-weight: bold; font-style: italic; }

/* Information */
a.sourceLine::before { text-decoration: none; }

/*********************************************** General tweaks for nicer appearance */
/* @mixin bodyBackground() { background: $backgroundColor; } */
body { color: #111115; margin-top: 0; font-family: eb-garamond, Garamond, Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif; }

body * { font-variant: proportional-nums oldstyle-nums; }

.site-title { max-width: 1400px; }

.site-title > img { width: 90%; }

div.epigraph, dl { width: 55%; }

/*********************************************** Headings and lists */
p.subtitle, .subtitle.csl-entry { font-size: 1.8rem; }

h1, h2, h3 { clear: both; font-family: eb-garamond, Garamond, Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif; font-weight: 400; }

h1.unlisted, h2.unlisted, h3.unlisted { clear: none; }

h1 { font-size: 2.4rem; font-style: normal; font-variant: lining-nums titling-caps; letter-spacing: 0.2rem; text-transform: uppercase; }

h1 em { font-style: normal; letter-spacing: 0.4rem; }

h2 { font-size: 1.8rem; font-style: italic; }

h2 em { font-style: normal; }

dt, h3, h4, h5 { clear: left; font-size: 1.4rem; font-style: normal; font-weight: 400; letter-spacing: 0.05rem; }

section > dl, .incremental > dl, div.csl-bib-body > dl, details > dl, div.notes > dl, dl > dl { clear: left; font-size: 1.4rem; line-height: 2rem; }

section > dl dd, .incremental > dl dd, div.csl-bib-body > dl dd, details > dl dd, div.notes > dl dd, dl > dl dd { margin: 0; }

dt, h5 { float: left; margin: 0 1.4rem 0 0; padding: 0; line-height: 2rem; }

ol, ul { margin-left: -2.5rem; }

ol li::marker, ul li::marker { font-variant: tabular-nums oldstyle-nums; }

ul { list-style-type: none; }

ul li { text-indent: -2rem; }

ul li::before { content: "— "; }

.line-block { font-size: 1.4rem; line-height: 2rem; }

.cv dt { font-variant: tabular-nums oldstyle-nums all-small-caps; margin-left: -8.5rem; }

/*********************************************** General formatting improvements */
hr { border: 0; clear: left; text-align: center; font-size: 1.8rem; padding: 2rem 0 2rem 0; }

hr::before { content: "* * *"; }

img { border: 0.5px solid #111115; }

summary > p, summary > .csl-entry { display: inline; }

table { border-collapse: collapse; max-width: 90%; }

td { vertical-align: top; border-top: 1px solid #111115; }

td > p, td > .csl-entry { margin-top: 0; }

/*********************************************** Pandoc+Citeproc improvements */
section > blockquote > p > span.citation > span.sidenote-wrapper > span.sidenote, .incremental > blockquote > p > span.citation > span.sidenote-wrapper > span.sidenote, section > blockquote > .csl-entry > span.citation > span.sidenote-wrapper > span.sidenote, .incremental > blockquote > .csl-entry > span.citation > span.sidenote-wrapper > span.sidenote, div.csl-bib-body > blockquote > p > span.citation > span.sidenote-wrapper > span.sidenote, div.csl-bib-body > blockquote > .csl-entry > span.citation > span.sidenote-wrapper > span.sidenote, details > blockquote > p > span.citation > span.sidenote-wrapper > span.sidenote, details > blockquote > .csl-entry > span.citation > span.sidenote-wrapper > span.sidenote, div.notes > blockquote > p > span.citation > span.sidenote-wrapper > span.sidenote, div.notes > blockquote > .csl-entry > span.citation > span.sidenote-wrapper > span.sidenote, dl > blockquote > p > span.citation > span.sidenote-wrapper > span.sidenote, dl > blockquote > .csl-entry > span.citation > span.sidenote-wrapper > span.sidenote { margin-right: -70%; }

.author { width: 55%; }

.marginnote, figcaption, .subfigures p, .subfigures .csl-entry, .sidenote { font-weight: 500; margin-bottom: 1rem; }

.sidenote-number, .sidenote-number:after, .sidenote:before { font-family: eb-garamond, Garamond, Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif; }

.smallcaps, dt, h3, h4, h5, span.newthought { font-variant: all-small-caps; }

span.newthought { font-size: 1.4rem; }

.csl-entry { margin: 0; }

/****************************************************** Fixes for pandoc-crossref */
figcaption, .subfigures p, .subfigures .csl-entry { max-width: 50%; }

figure > img.fullwidth { clear: both; max-width: 160%; }

.subfigures figcaption, .subfigures p, .subfigures .csl-entry { text-align: right; }

.subfigures p, .subfigures .csl-entry { text-align: left; margin-bottom: 2em; margin-right: 12.5%; max-width: 27.5%; }

/****************************************************** Fixes for reveal.js elements */
h3.unlisted { margin: 0; }

.columns { clear: both; width: 92.5%; }

.columns.subfigures img { float: left; }

.columns.subfigures p, .columns.subfigures .csl-entry { margin-right: 5%; max-width: 30%; }

.column { float: left; }

.column figure { margin-bottom: 1em; max-width: 90%; }

.column figure figcaption, .column figure .subfigures p, .subfigures .column figure p, .column figure .subfigures .csl-entry, .subfigures .column figure .csl-entry { margin-left: 0; margin-right: 0; max-width: 66%; width: 66%; }

/****************************************************** Extending Tufte-Pandoc-Jekyll */
#main-nav, #lang-select, p.signoff, .signoff.csl-entry { font-size: 1rem; margin-top: 1rem; }

#main-nav a:link, #lang-select a:link, p.signoff a:link, .signoff.csl-entry a:link { background: none; text-shadow: none; }

#main-nav a:link::after, #lang-select a:link::after, p.signoff a:link::after, .signoff.csl-entry a:link::after { content: "  "; }

#lang-select { float: right; font-weight: 500; margin-right: 45%; margin-top: 0.5rem; }

.blogroll { width: 55%; }

nav.pagination > ul, ul.blogroll h3 { display: inline; }

ul.contact > li::before { content: ""; }

nav.pagination { list-style-type: none; }

nav.pagination > ul > li { display: inline; text-indent: 0; }

nav.pagination > ul > li::before { content: ""; font-variant: tabular-nums; }

nav.pagination > ul > li::after { content: " | "; }

nav.pagination > ul > li:last-child::after { content: ""; }

/****************************************************** FontAwesome */
.fa, .fas, .fab { font-family: 'FontAwesome' !important; font-style: normal; }

/****************************************************** Light and Dark */
@media (prefers-color-scheme: no-preference), (prefers-color-scheme: light) { body { color: #111115; background-color: #fffff8; } body .en:lang(en), body .fr:lang(fr), body .pt:lang(pt) { color: rgba(17, 17, 21, 0.5); } body a:link { text-decoration: none; background: -webkit-linear-gradient(#fffff8, #fffff8), -webkit-linear-gradient(#fffff8, #fffff8), -webkit-linear-gradient(#33333f, #33333f); background: linear-gradient(#fffff8, #fffff8), linear-gradient(#fffff8, #fffff8), linear-gradient(#33333f, #33333f); -webkit-background-size: 0.05em 1px, 0.05em 1px, 1px 1px; -moz-background-size: 0.05em 1px, 0.05em 1px, 1px 1px; background-size: 0.05em 1px, 0.05em 1px, 1px 1px; background-repeat: no-repeat, no-repeat, repeat-x; text-shadow: 0.03em 0 #fffff8, -0.03em 0 #fffff8, 0 0.03em #fffff8, 0 -0.03em #fffff8, 0.06em 0 #fffff8, -0.06em 0 #fffff8, 0.09em 0 #fffff8, -0.09em 0 #fffff8, 0.12em 0 #fffff8, -0.12em 0 #fffff8, 0.15em 0 #fffff8, -0.15em 0 #fffff8; background-position: 0% 93%, 100% 93%, 0% 93%; } body .line { border: none; } }

@media (prefers-color-scheme: dark) { body { color: #fffff8; background-color: #282831; } body .en:lang(en), body .fr:lang(fr), body .pt:lang(pt) { color: rgba(255, 255, 248, 0.5); } body a:link { text-decoration: none; background: -webkit-linear-gradient(#111115, #111115), -webkit-linear-gradient(#111115, #111115), -webkit-linear-gradient(white, white); background: linear-gradient(#111115, #111115), linear-gradient(#111115, #111115), linear-gradient(white, white); -webkit-background-size: 0.05em 1px, 0.05em 1px, 1px 1px; -moz-background-size: 0.05em 1px, 0.05em 1px, 1px 1px; background-size: 0.05em 1px, 0.05em 1px, 1px 1px; background-repeat: no-repeat, no-repeat, repeat-x; text-shadow: 0.03em 0 #111115, -0.03em 0 #111115, 0 0.03em #111115, 0 -0.03em #111115, 0.06em 0 #111115, -0.06em 0 #111115, 0.09em 0 #111115, -0.09em 0 #111115, 0.12em 0 #111115, -0.12em 0 #111115, 0.15em 0 #111115, -0.15em 0 #111115; background-position: 0% 93%, 100% 93%, 0% 93%; } body img { background-color: #282831; } body .line { background: none; filter: invert(83%); -webkit-filter: invert(83%); } body .nobg { background: none; } }

/****************************************************** Screen width overrides must come last. */
@media (max-width: 760px) { div.incremental, header > div.epigraph, dl, figure > img.fullwidth, details, .author, .blogroll { width: 90%; } img.marginnote { float: none; width: 90%; } figcaption, .subfigures p, .subfigures .csl-entry, .marginnote { display: inline; } }

@media (max-width: 960px) { .cv dt { margin-left: -1.5rem; } .cv dt::before { content: "– "; } }

/*# sourceMappingURL=main.css.map */