---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

@import url("https://use.typekit.net/hny1sfi.css");
@import url("https://cdn.jsdelivr.net/gh/jpswalsh/academicons@1/css/academicons.min.css");

/* ==========================================================================
   Variables
   ========================================================================== */

/*
   Typography
   ========================================================================== */

/* system typefaces */
$serif: "cormorant-garamond", "eb-garamond", Georgia, Times, serif;
$sans-serif: "league-gothic", "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
$monospace: "source-code-pro", Consolas, "Liberation Mono", Menlo, Courier, monospace;

/* serif typefaces */
$garamond: "eb-garamond", "et-book", Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;

$global-font-family: $garamond;
$header-font-family: $serif;
$caption-font-family: $garamond;
$sans-serif-narrow: "kepler-std-semicondensed-dis", "league-gothic", "Arial Narrow", sans-serif;
$sans-serif: $global-font-family;

/*
   Colors
   ========================================================================== */

/*
   Other
   ========================================================================== */

$border-radius: 0px;

/*
   Grid
   ========================================================================== */

$x-large: 1600px;
$max-width: calc(1520px + 2em);
$right-sidebar-width-narrow: 300px;
$right-sidebar-width: 400px;
$right-sidebar-width-wide: 400px;

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

$meta-font-weight: 500;
$header-font-weight: 300;
$header-font-style: italic;

@import
    "tufte",
    "pandoc",
    "pandoc-solarized",
    "local",
    "revealjs-support";

.site-subtitle {
    display: inline;
}

.page__footer {
    background-color: inherit;
}

.page__footer-follow {
    display: none;
}
// vim: set shiftwidth=4 tabstop=4 foldmethod=indent :
