---
---

// Jekyll ---------------------------------------------
@import "{{ site.theme }}";
// Reveal.js ------------------------------------------
@import "../reveal.js/css/theme/template/mixins";
@import "../reveal.js/css/theme/template/settings";
@import url(../../reveal.js/lib/font/source-sans-pro/source-sans-pro.css);
// Customization
@import "fonts";
@import "tau0005";
@import "../reveal.js/css/theme/template/theme";

.reveal {
  background-color: darken( $backgroundColor, 15% );
}

.slides > section {
  background-color: $backgroundColor;
  border: thin solid $backgroundColor;
  border-radius: 20vh;
  box-shadow: 0 0 10vh 10vh $backgroundColor;
}

section.has-dark-background,
section#title-slide {
	&, h1, h2, h3, h4, h5, h6 {
		color: #f4dcb4;
    text-shadow: 0 0 20px #294469, 0 0 10px #294469;
	}
  p {
    font-family: $headingFont;
    font-weight: normal;
    text-transform: uppercase;
  }
  text-shadow: 0 0 20px #294469;
  background: none;
  border: none;
  box-shadow: none;
}

blockquote {
  font-size: $heading4Size;
  text-align: left;
  footer {
    text-align: right;
    cite {
      font-style: normal;
    }
  }
}
